<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/styles2.css">
</head>
<body>
    <div class="container2">
        <header>
            <h1 class="logo" style="color:black">GenQ</h1>
            <nav class="nav-bar">
                <a href="/Homepage.html" style="color:black">Back to Homepage</a>
                <a href="/index.html" style="color:black">Back to Login</a>
            </nav>
        </header>
        <div class="content">
            <div>
                <h2><img src="/static/img/AboutUs-removebg.png"></h2>
                <br>
                <div class="img-content">
                    <img src="/static/img/peopleCrop.png" class="img-hide">
                    <div>
                        <p>Welcome to GenQ, where the magic of learning meets the convenience of technology. We're a passionate team of educators, developers, and lifelong learners who believe that knowledge should be accessible, engaging, and fun. Our journey began with a simple yet profound idea: What if there was a way to turn any text into an interactive learning experience? This idea sparked the creation of GenQ.</p>
                        <br>
                        <p>At GenQ, we're committed to making learning more interactive and enjoyable for everyone. We understand that traditional methods of teaching and assessment can be rigid and, at times, monotonous. That's why we've set out to change the way you engage with text-based content.</p>
                    </div>
                </div>
            </div>
            <br>
            <div>
                <h3><b>Our Mission</b></h3>
                <br>
                <p>Our mission is clear: Empower educators, trainers, and knowledge enthusiasts to transform text into dynamic quizzes. We're dedicated to providing a user-friendly, AI-driven platform that simplifies the quiz creation process, saving you valuable time and effort.</p>
            </div>
            <br>
            <div>
                <h3><b>Why Choose Us</b></h3>
                <br>
                <ul>
                    <li><b>Innovation:</b> We're at the forefront of AI-driven quiz generation, combining cutting-edge technology with educational expertise to create a unique platform that simplifies the quiz-making process.</li>
                    <li><b>Accessibility:</b>We believe that learning should be accessible to all. With GenQ, you can create quizzes that cater to various learning styles and abilities, making knowledge more inclusive.</li>
                    <li><b>Community:</b>Join a thriving community of like-minded individuals who share a passion for interactive learning. Collaborate, share ideas, and discover creative ways to use GenQ to its fullest potential.</li>
                </ul>
            </div>
            <br>
            <div>
                <h3><b>Our Commitment</b></h3>
                <br>    
                <p>We are committed to continuous improvement. We actively seek feedback from our users to enhance our platform, develop new features, and expand our offerings. Our goal is to support educators and learners in their quest for knowledge and personal growth.</p>
            </div>
            <br>

            <div>
                <h3><b>Join Us in the Learning Revolution</b></h3>
                <p>We invite you to be a part of our community and the learning revolution. Together, we can make learning engaging, accessible, and enjoyable. Whether you're an educator, a trainer, a student, or simply someone who values knowledge, GenQ is here to empower you in your quest for interactive learning.</p>
                <br>
                <p>Thank you for choosing GenQ. We look forward to being your partner in transforming text into knowledge-rich quizzes. Join us on this exciting journey of expl   oration and discovery.</p>
            </div>
            <br>
            <br>
            <div class="visit-us">
                <h3><b>Visit Us At Our Social Media Platforms:-</b></h3>
                <br>
                <br>
                <div class="social-Media-Icons">
                    <a href="#"><i class="fa-brands fa-instagram fa-2xl"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook fa-2xl"></i></a>
                    <a href="#"><i class="fa-brands fa-x-twitter fa-2xl"></i></a>
                </div>
            </div>
        </div>
        
    
    </div>
    <script src="https://kit.fontawesome.com/2d3ccaa5e7.js" crossorigin="anonymous"></script>
    <!-- <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.2/dist/full.css" rel="stylesheet" type="text/css" /> -->
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</body>
</html>